# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
port=6306
datadir=/opt/pkb/mysql-5.7/data
socket=/opt/pkb/mysql-5.7/mysqld.sock

#validate-password=OFF

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

log-error=/opt/pkb/mysql-5.7/log/mysqld.log
#pid-file=/var/run/mysqld/mysqld.pid
skip-external-locking
key_buffer_size = 384M
max_allowed_packet = 1M
max_connections = 1024
max_prepared_stmt_count=1048576
table_open_cache = 8000
sort_buffer_size = 20M
read_buffer_size = 20M
read_rnd_buffer_size = 80M
myisam_sort_buffer_size = 64M
thread_cache_size = 8
query_cache_size = 32M
low_priority_updates=1
back_log=1500
query_cache_type=0
innodb_buffer_pool_size = 8G
innodb_buffer_pool_instances = 1
#innodb_additional_mem_pool_size = 20M
innodb_log_file_size = 256M
innodb_log_files_in_group=1
innodb_open_files=4000
innodb_log_buffer_size = 64M
innodb_checksums=0
innodb_doublewrite=0
innodb_support_xa=0
innodb_thread_concurrency=0
innodb_flush_log_at_trx_commit=2
innodb_max_dirty_pages_pct=50
innodb_use_native_aio=1
#innodb_spin_wait_delay=0

innodb_adaptive_flushing = 1
#innodb_flush_neighbors=0
innodb_read_io_threads = 8
innodb_write_io_threads = 8
innodb_io_capacity = 40000
innodb_purge_threads=1
innodb_adaptive_hash_index=0
max_connections=16384
